.EmptyPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  float: left;
  width: 80%;
  height: 90vh;
  overflow-y: scroll;
  background: #e1e2dc;
  border-top: 2px solid rgba(10,10,10,0.9);
  border-bottom: 2px solid rgba(10,10,10,0.9);
}
