.modalContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  color: white;
  .modalContentLeft {
    width: 50%;
    height: 100%;
  }
  .modalContentRight {
    max-width: 50%;
  }
}
