.modalContent {
  display: flex;
  justify-content: space-around;
  height: 100%;
  .modalContentLeft {
    width: 50%;
    height: 100%;
  }
  .modalContentRight {
    color: #e1e2dc;
    button {
      height: auto;
      background: white;
    }
  }
}
