.Navbar {
  height: 5vh;
  background: rgba(10,10,10,0.9);
  div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      color: #e1e2dc;
      text-decoration: none;
      width: 20%;
      &:hover {
        transition: 0.2s;
        background: #e1e2dc;
        color: rgba(10,10,10,0.9);
        div {
          transition: 0.2s;
          transform: scale(1.2);
        }
      }
      div {
        height: 5vh;
      }
    }
  }
}
