.UsersIndex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  float: left;
  width: 80%;
  height: 90vh;
  overflow-y: scroll;
  background: #e1e2dc;
  border-top: 2px solid rgba(10,10,10,0.9);
  border-bottom: 2px solid rgba(10,10,10,0.9);
  div {
    .card{
      margin-top: 10px;
      img {
        border: 0px;
        border-radius: 50%;
        max-width: 150px;
      }
      p {
        margin: 0;
        visibility: hidden;
        font-size: 27px;
      }
      transition: 0.5s;
      opacity: 0.5;
      border-radius: 10px;
      &:hover {
        opacity: 1;
        animation: pulse 0.5s infinite;
        padding-top: 30px;
        p {
          visibility: visible;
        }
      }
    }
  }

}
@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.02);}
  100 {transform: scale(1);}
}
