.UsersRequest {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  float: left;
  width: 80%;
  height: 90vh;
  overflow-y: scroll;
  background: #e1e2dc;
  border-top: 2px solid rgba(10,10,10,0.9);
  border-bottom: 2px solid rgba(10,10,10,0.9);

  .requestDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(10,10,10,0.9);
    .requestLeft {
      img {
      }
    }
    .requestMiddle {
      p {
        span {
          float: right;
        }
      }
    }
    .requestRight {
      button {
        border: 2px solid rgba(10,10,10,0.9);
        border-radius: 50%;
        background-color: #e1e2dc;
        margin: 5px;
        height: 5vh;
        width: 5vh;
      }
      .yesButton {
        &:focus {
          transition: 0.2s;
          outline: none;
          background-color: green;
          color: black;
          visibility: 'collapse';
        }
      }
      .noButton {
        &:focus {
          transition: 0.2s;
          outline: none;
          background-color: red;
          color: black;
          visibility: 'collapse';
        }
      }
    }
  }
}
