.UsersInbox {
  display: flex;
  flex-direction: column;
  float: left;
  width: 80%;
  height: 90vh;
  oveflow-y: scroll;
  background: #e1e2dc;
  button {
    width: 50%;
    background: rgba(10,10,10,0.9);
    color: #e1e2dc;
    &:focus {
      outline: none;
      background: #e1e2dc;
      color: rgba(10,10,10,0.9);
      border: 2px solid rgba(10,10,10,0.9);
    }
  }
  .inbox {
    margin-top: 10px;
    .inboxMessage {
      border: 2px solid rgba(10,10,10,0.9);
      border-top: none;
      border-bottom: none;
      width: 90%;
      margin: 0 auto;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        margin-left: 5px;
        max-height: 20vh;
        img {
          max-height: 20vh;
        }
      }
      div {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h3 {
          margin-left: 10px;
          border-bottom: 2px solid rgba(10,10,10,0.9);
        }
        blockquote {
          padding: 10px;
        }
        small {
          margin-left: 10px;
          align-self: flex-end;
        }
      }
      div {
        align-self: flex-end;
        button {
          background: rgba(10,10,10,0.9);
          color: #e1e2dc;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  .sent {
    margin-top: 10px;
    .sentMessage {
      border: 2px solid rgba(10,10,10,0.9);
      border-top: none;
      border-bottom: none;
      width: 90%;
      margin: 0 auto;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h3 {
          margin-left: 10px;
          border-bottom: 2px solid rgba(10,10,10,0.9);
        }
        blockquote {
          padding: 10px;
        }
        small {
          margin-left: 10px;
          align-self: flex-end;
        }
      }
      div {
        margin-right: 5px;
        max-height: 20vh;
        img {
          max-height: 20vh;
        }
      }
    }
  }
}
