.LandingPageHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  background: rgba(10,10,10,0.9);
  color: #e1e2dc;
  p {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
  }
}
