.LandingPage {
  background: url('https://orig00.deviantart.net/6ac2/f/2015/122/f/a/lord_of_the_rings_wallpaper_by_majestyca-d8ruhs0.jpg') center center;
  background-size: cover;
  min-height: 90vh;
  .forms {
    .question {
      position: absolute;
      top: 10%;
    }
    display: flex;
    justify-content: space-around;
  }
}
